<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HappyBike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E5F3FF61ED8DDBC00330CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E5F400A1ED8DDBC00330CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E5F40151ED8DDBC00330CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
